/* Copyright 2018 Energize Apps.  All rights reserved. */

.checkboxList
{
  -webkit-column-width: 270px; /* Chrome, Safari, Opera */
  -moz-column-width: 270px; /* Firefox */
  column-width: 270px;
}

@media( min-width: 400px )
{
  .helpButtonSpacer
  {
    width:5%;
    height:1px;
  }
}
@media( max-width: 399px )
{
  .helpButtonSpacer
  {
    display:none;
  }
}
