/* Copyright 2016 Energize Apps.  All rights reserved. */

.checkboxList
{
  -webkit-column-width: 270px; /* Chrome, Safari, Opera */
  -moz-column-width: 270px; /* Firefox */
  column-width: 270px;
}
